body {
  background: linear-gradient(to bottom right, rgb(179, 24, 3), rgba(188, 89, 40, 1), rgb(160, 101, 72), rgba(188, 89, 40, 1));
  color: #FFFFFF;
  font-family: 'Caladea', serif;
}

header {
  margin-bottom: 30px;
  text-align: center;
  font-size: 1.5rem;
}

header h1 {
color: #FFFFFF;
font-size: 4.5rem;
}

header nav ul li {
  display: inline-block;
  padding: 10px;
  margin-top: 20px;
  background-color: rgb(129, 49, 9);
  border-radius: 30px;
  border: solid 6px rgba(201, 165, 7, 0.925);

}
header img {
  max-width: 100%;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

#main-content {
  text-align: center;
  margin-bottom: 50px;
}

#sales-main {
  text-align: center;
  font-size: 1.25em;
  background-color: rgb(129, 49, 9);
  border-radius: 30px;
  border: solid 6px rgba(201, 165, 7, 0.925);
  padding: 10px 20px 30px 20px;
}

#sales-main section, #sales-main p, #sales-main ul {
  border: solid 2px #FFFFFF;
}

#sales-main p {
  padding: 8px;
}

#sales-main li {
  border-bottom: solid 2px #FFFFFF;
  padding: 4px 8px;
  text-align: center;
}

#sales-main section {
  display: inline-block;
}

#sales-main section:nth-child(3n+5){
margin-left: 15px;
}

h1 {
  font-family: 'Trade Winds', cursive;
}
h2 {
  color: #FFFFFF;
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
}
h3 {
  font-size: 2rem;
}

footer {
  margin-top: 30px;
  text-align: center;
}
footer section {
  display: inline-block;
  width: 300px;
  height: 300px;
  margin: 0 auto;

}
#locations {
  display:inline-block;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

#locations a {
display: block;
margin: 6px;
}

footer section a {
  display:block;
  margin: 6px;
}
footer section p {
  margin: 6px;
}

footer img {
  display: block;
  margin: 0 auto;
}

p {
  text-align: left;
  max-width: 50%;
  margin: 10px auto 10px;
  font-size: 1.5rem;
}
/*-------------------------
           Table
-------------------------*/
table {
  border: solid 3px rgb(201, 165, 7);
  margin: 0 auto;
}

th, td {
  border: solid 1px rgb(201, 165, 7);
  padding: 6px;
}